<!DOCTYPE html>
<html>
    <head>
      <title>{{name}}</title>
    </head>
    <body>
      {% if name == "gorilla" %}
      <h1>スーパードンキーコングは{{name}}の神ゲー</h1>
      {% elif name %}
      <h1>スーパードンキーコングは{{name}}の神ゲー</h1>
      {% else %}
      <h1>スーパードンキーコングはゴリラ大暴れ</h1>
      {% endif %}
      <form action="/index" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <input type="submit" value="Submit">
    </form>
    <img src="/static/images/donkey_kong.jpg" alt="ドンキーコング">
    <form action="/add" method="post">
      <input type="text" name="title" placeholder="title">
      <input type="text" name="body" placeholder="body">
      <input type="submit" value="Add">
    </form>
    {% for gorilla in all_character %}
    <p>{{gorilla.title}}:{{gorilla.body}}({{gorilla.date}})</p>
    {% endfor %}
    </body>
</html>