<!DOCTYPE html>
<html>
    <head>
      <title>{{name}}</title>
    </head>
    <a href="/logout">ログアウトする</a>
    <body>
      {% if name == "gorilla" %}
      <h1>スーパードンキーコングは{{name}}の神ゲー</h1>
      {% elif name %}
      <h1>スーパードンキーコングは{{name}}の神ゲー</h1>
      {% else %}
      <h1>スーパードンキーコングはゴリラ大暴れ</h1>
      {% endif %}
      <form action="/index" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <input type="submit" value="Submit">
    </form>
    <img src="/static/images/donkey_kong.jpg" alt="ドンキーコング">
    <form action="/add" method="post">
      <input type="text" name="title" placeholder="title">
      <input type="text" name="body" placeholder="body">
      <input type="submit" value="Add">
    </form>
    <form action="/update" method="post" id="update">
      <input type="text" name="title" placeholder="title">
      <input type="text" name="body" placeholder="body">
      <input type="submit" value="Update">
    </form>
    <form action="delete" method="post" id="delete">
      <input type="submit" value="Delete selected all character">
    </form>
      {% for gorilla in all_character %}
      <div>
        <input type="radio" name="update" form="update" value={{gorilla.id}}>
        <input type="checkbox" name="delete" form="delete" value={{gorilla.id}}>
        {{gorilla.title}}:{{gorilla.body}}{{gorilla.date}}
      </div>
      {% endfor %}
    </body>
</html>